html, body{
  height:100%;
  overflow: hidden
}

.app{
  display: flex; 
  flex-direction: column;
  height: 100%;
  margin: 10px 10px;
}

.first-row{
  flex: 5; 
  display: flex; 
  flex-direction: row;
}

.second-row{
  flex: 1.5;
}

.left-column{
  flex: 0.8; 
  display: flex; 
  flex-direction: column; 
  margin-right: 10px;
}

.center-column{
  flex: 2;
  margin-right: 10px;
  height: 100%;
}

.right-column{
  flex: 0.8; 
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.control-panel{
  flex: 0.8; 
  margin-top: 20px;
  margin-left: 10px;
}

.topic-panel{
  flex: 1.8;
  margin-bottom: 20px;
}

.embedding-panel{
  flex: 2;
  margin-bottom: 10px;
}
.search-wrapper{
  flex: 1;
  height: 100%;
}
.right-column-wrapper{
  flex: 9;
  height: 100%;
}

.col-md-3{
  width: 30%;
}
.col-md-7{
  width: 40%;
}

.tooltip.top .tooltip-arrow{
  border-top-color: grey;
}
.tooltip-inner{
  background-color: grey;
}
.slider.slider-horizontal .slider-track{
  height: 8px;
}
.slider-handle{
  top: 1px;
  height: 18px;
  width: 18px;
}
.parameter{
  width: 45px;
  height: 25px;
  text-align: center;
  margin-left: 40px;
  font-size: 13px;
}

.dataTables_wrapper .dataTables_info{
  padding-top: 0.6em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding-top: 0.2em;
}
/* table.dataTable thead th, table.dataTable thead td{
  border-bottom: 1px solid #ddd;
} */

/* #sub_traj_table{
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd;
} */

